:host {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 8px;
}

.title {
  color: var(--white-color);
  text-decoration: none;
  font-size: 24px;
}

.active {
  font-weight: bold;
}
