@if (loading()) {
<p class="loading">Загружаю...</p>
} @if (error()) {
<p class="error">{{ error() }}</p>
}
<nav class="nav">
  @for (type of transactionTypes(); track $index) {
  <a
    [routerLink]="'/list'"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
    [queryParams]="{type}"
    >{{ type }}</a
  >
  }
</nav>
<ul class="transactions">
  @for (t of filteredTransactions(); track t._id) {
  <li>
    <span class="t-name">{{ t.name.first }} {{ t.name.last }}</span>
    <span class="t-amount">{{ t.amount }}</span>
  </li>
  }
</ul>
